<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit("Log in", :class => "btn") %>
  </div>
<% end %>