<%= form_for(@skill_plu) do |f| %>
  <% if @skill_plu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill_plu.errors.count, "error") %> prohibited this skill_plu from being saved:</h2>

      <ul>
      <% @skill_plu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :skill_id %><br>
    <%= f.number_field :skill_id %>
  </div>
  <div class="field">
    <%= f.label :tagged_user_id %><br>
    <%= f.number_field :tagged_user_id %>
  </div>
  <div class="field">
    <%= f.label :by_user_id %><br>
    <%= f.number_field :by_user_id %>
  </div>
  <div class="actions">
    <%= f.submit("", :class => "btn") %>
  </div>
<% end %>
