<p id="notice"><%= notice %></p>

<h1>Listing Skill Plus</h1>

<table>
  <thead>
    <tr>
      <th>Skill</th>
      <th>Tagged user</th>
      <th>By user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skill_plus.each do |skill_plu| %>
      <tr>
        <td><%= skill_plu.skill_id %></td>
        <td><%= skill_plu.tagged_user_id %></td>
        <td><%= skill_plu.by_user_id %></td>
        <td><%= link_to 'Show', skill_plu %></td>
        <td><%= link_to 'Edit', edit_skill_plu_path(skill_plu) %></td>
        <td><%= link_to 'Destroy', skill_plu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skill plu', new_skill_plu_path %>
