<p id="notice"><%= notice %></p>

<p>
  <strong>Skill:</strong>
  <%= @skill_plu.skill_id %>
</p>

<p>
  <strong>Tagged user:</strong>
  <%= @skill_plu.tagged_user_id %>
</p>

<p>
  <strong>By user:</strong>
  <%= @skill_plu.by_user_id %>
</p>

<%= link_to 'Edit', edit_skill_plu_path(@skill_plu) %> |
<%= link_to 'Back', skill_plus_path %>
