<%= form_for(:tagged_skill, :url => tagged_skills_path) do |f| %>
  <% if logged_in? %>
    <div class="field">
      <%= f.text_field :skill_id %>
    </div>
    <div class="field">
      <%= f.hidden_field :user_id, :value => user.id %>
    </div>
    <div class="field">
      <%= f.hidden_field :state, :value => "public" %>
    </div>
    <div class="actions">
      <%= f.submit("Add skill", :class => "btn") %>
    </div>
  <% end %>
<% end %>
