<table class="table">
  <% counts.each do |count| %>
    <% skill_id, cnt, skill_name = count[0].to_i, count[1], count[2] %>
    <% sidi = skill_ids.index(skill_id) %>
    <tr><td>
      <%= link_to(skill_name, "/skills/" + skill_id.to_s) %>:

      <% if not sidi.nil? %>
        <%# form_params = [skill_plus_path + "/" + sidi.to_s, html: {method: :delete }] %>
        <% form_params = [skill_plus_path + "/" + plussed_skills[sidi].id.to_s,
          :method => :delete ] %>
        <% s = "plussed_skill" %>
      <% else %>
        <% form_params = [current_user.active_skill_plus.build] %>
        <% s = "unplussed_skill" %>
      <% end %>

      <%= form_tag(*form_params)  do |f| %>
        <div> <%= hidden_field_tag :by_user_id, current_user.id %> </div>
        <div> <%= hidden_field_tag :tagged_user_id, user.id %> </div>
        <div> <%= hidden_field_tag :skill_id, skill_id %> </div>
        <%= submit_tag(cnt.to_s, :class => "btn #{s}", :disabled => @is_me)  %>
      <% end %>
      
      <% if @is_me %>
        <% if state == "public" %>
          <%= button_to "hide",
            {controller: 'tagged_skills', action: 'hide_skill',
            user_id: user.id, skill_id: skill_id}, {:remote => true, :class => "btn"} %>
        <% else %>
          <%= button_to "publish",
            {controller: 'tagged_skills', action: 'publish_skill',
            user_id: user.id, skill_id: skill_id}, {:remote => true, :class => "btn"} %>
        <% end %>
      <% end %>
    </td></tr>
  <% end %>
</table>
