<div class="tagged_skills">
  <% counts = get_skill_counts(user) %>
  <% if current_user.nil? %>
    <table class="table">
      <% counts.each do |count| %>
        <tr><td>
          <% skill_id, cnt, skill_name = count[0], count[1], count[2] %>
            <%= link_to(skill_name, "/skills/" + skill_id.to_s) %>:
            <%= cnt %>
        </td></tr>
      <% end %>
    </table>

  <% else %> 
    <% plussed_skills = get_plussed_skills(current_user, user, counts) %>
    <% skill_ids = plussed_skills.map(&:sid) %>
    <%= render "skill_counts",
      counts: counts, skill_ids: skill_ids,  plussed_skills: plussed_skills,
      user: user, state: "public" %>
    <%= render "tagged_skills/form", user: user%>

    <% if @is_me %>
      <h3>private skills</h3>
      <% counts = get_skill_counts(current_user, state="private") %>
      <% plussed_skills = get_plussed_skills(current_user, user, counts) %>
      <% skill_ids = plussed_skills.map(&:sid) %>
      <%= render "skill_counts",
        counts: counts, skill_ids: skill_ids,  plussed_skills: plussed_skills,
        user: user, state: "private" %>
    <% end %>
  <% end %>
</div>
