<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

    <tr>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
      </tr>
    <% end %>
  </tbody>
    </tr>
</table>

<br>

<%= button_to 'New User', new_user_path, method: :get, class: "btn" %>
<%= button_to 'Log in', root_path, method: :get, class: "btn" %>
