<p id="notice"><%= notice %></p>

  <h1><%= @user.name %>'s profile</h1>
  

<% @user ||= current_user %>
<%= render 'tagged_skills', user: @user %>
<div class="footer">
	<% if @is_me %>
		<%= button_to 'Change user name', edit_user_path(@user) , method: :get, class: "btn" %>
		<%= button_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
	<% end %>
	<%= button_to 'Back', users_path , method: :get, class: "btn" %>
</div>
