<p id="notice"><%= notice %></p>

<h1>Skills</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tr>

    <% @skills.each do |skill| %>
      <tr>
          <!-- <td><%= skill.id %></td> -->
          <td>
            <div class="skill"><%= link_to skill.name, skill %></div>
          </td>
      </tr>
    <% end %>
</table>

<br>

