<p id="notice"><%= notice %></p>

  <h1><%= @skill.name %></h1>
  
<table class="table">
  <thead>
    <tr>
      <th colspan="3">Tagged Users</th>
    </tr>
  </thead>

    <tr>
  <tbody>
    <% @tagged_user.each do |tu| %>
      <tr>
        <td><%= link_to tu.name, tu %></td>
      </tr>
    <% end %>
  </tbody>
    </tr>
</table>


<%= button_to 'Back', skills_path , method: :get %>
