/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins
@import "bootstrap/variables";
@import "variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
// @import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
// @import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
// @import "bootstrap/breadcrumbs";
// @import "bootstrap/pagination";
// @import "bootstrap/pager";
@import "bootstrap/labels";
// @import "bootstrap/badges";
// @import "bootstrap/jumbotron";
// @import "bootstrap/thumbnails";
// @import "bootstrap/alerts";
// @import "bootstrap/progress-bars";
// @import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
// @import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
// @import "bootstrap/modals";
// @import "bootstrap/tooltip";
// @import "bootstrap/popovers";
// @import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";


$blue: #53CFD1;
$brown: #7A6263;

* a{
	color: $brown;
}

a, p, table{
	font-size: 20px;
}
a:hover {
	background: inherit;
	text-decoration: none;
	color: $blue;
}


.navbar {
	background: $blue;
	color:	#ffffff;
	padding-right: 2ex;
	p,a{
		margin-bottom: 0px;
		color: #ffffff;
		font-size: 15px;

	}
	a{
		text-decoration: underline;
	}
	a:hover{
		color: $brown;
	}
	#title {
		font-size: 45px;
		text-decoration: none;
	}
}


.partial-form {
	padding: 14px;
	border: solid;
	border-color: $blue;
}


.actions {
	display: inline;
}
.field {
	display: inline;
}

form {
	display: inline;
}

form.button_to input,
.btn {
	@extend .btn;
	color: $brown;
	background-color: white;
	border: solid;
	border-color: $brown;
	display: inline;
}

form.button_to input:hover,
.btn:hover {
	@extend .btn;
	color: white;
	background-color: $brown;
	border: solid;
	border-color: $brown;
	display: inline;
}


form.button_to input.banner {
	@extend .col-md-8;
	font-size: 40px;
	margin-top: 5px; 
	margin-top: 5px;

}

.footer {
	margin-top: 1ex;
}

.plussed_skill{
	background-color: $blue;
	border: solid;
	border-color: $blue;
}
.unplussed_skill{
	background-color: white;
	border: solid;
	border-color: $blue;
	color: $blue;
}