<div class="row">
	<div class="col-md-8">
		<%= button_to "Skills", :skills, method: :get, class: "banner" %> 
		<%= button_to "Users", :users, method: :get, class: "banner" %> 
	</div>
	<div class="col-md-4 partial-form">
		<%= render "sessions/form" %>
	</div>
</div> <but