<!DOCTYPE html>
<html>
<head>
  <title>WantedlyIntern</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar">
	<h1 class="text-center"><a id="title" href=<%= root_path %>> Wantedly Internship Challenge	 </a></h1>
	<% if logged_in? %>
		<p class="text-right"> Your name: <%= link_to current_user.name, current_user %> </p>
		<p class="text-right"> <%= link_to "Log out", logout_path, method: :delete %> </p>
	<% else %>
		<p class="text-right"> Not logged in </p>
		<p class="text-right"> <%= link_to 'Log in', root_path %> </p>
	<% end %>
</nav>
<div class="container">
	<div class="row">
		<%= yield %>
	</div>
</div>

</body>
</html>
